<!DOCTYPE html>
<html>
  <head>
    <title>Amagi Training Exercise 1</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <header>
      <nav>
        <div class="title">
          <a href="/" class="navLinks">Amagi Training Exercise 1</a>
        </div>
        <div class="github">
          <a href="https://github.com/madca03/amagi-training/tree/master/ex1" class="navLinks">Github Link</a>
        </div>
      </nav>
    </header>

    <div class="weather">
      <div class="location-form">
        <input class="search-city-input" type="text" placeholder="Your city name">
        <button type="submit" class="btn-search">Search</button>
      </div>

      <div class="current-weather">
        <div id="location">
        </div>
        <div id="currentTemp">
        </div>
        <div id="weatherDesc">
        </div>
        <div id="currentDatetime">
        </div>
      </div>

      <div class="forecast-weather">
      </div>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>